<h1>My Bookings</h1>

<% if @bookings.any? %>
  <table>
    <thead>
      <tr>
        <th>Book</th>
        <th>Date Booked</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.book.title %></td>
          <td><%= booking.date.strftime("%B %d, %Y") %></td>
          <td ><%= link_to 'accept', accept_path(booking)%></td>
          <td><%= link_to 'decline', decline_path(booking) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No bookings found.</p>
<% end %>

<%= link_to "Go get more books!", books_path, class: "btn btn-primary"%>
