<h1>New Booking</h1>

<%= simple_form_for [@book, @booking] do |f| %>
  <%= f.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>

  <p><strong>Price of the Book:</strong> $<%= @book.price %></p>

  <p><strong>Book Owner:</strong> <%= @book.user.username %></p>

  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

  <%= f.submit "Book Now", class: "btn btn-primary" %>
<% end %>
