<h1>Listing Books</h1>

<table>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.genre %></td>
        <td><%= book.description %></td>
        <td><%= book.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
